/* for chrome because chrome */
*,*:focus,*:hover{
    outline:none;
}

* {
	color: black;
	margin: 0 auto;
	padding: 0;
	font-family: "Open Sans", Calibri, Veranda;
	font-style: normal;
}

h1, h2, h3, h4 ,span{
	font-family: "Playfair Display", Garamond, Cambria, serif;
	font-style: italic;
}

h2 {
	font-size: 3em;
	text-align: center;
	margin: 0 0 3% 0;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.3em;
}

p{
	font-size: 1em;
}

/* Navigation Styling */
/*----------------------------------------------------------------------------------*/
.nav {
	padding: 2% 0 3% 0;
	display: flex;
	width: 80%;
	margin: 0 10%;
	list-style: none;
	text-decoration: none;
}

.nav .nav-link.active, .nav .show>.nav-link {
	color: white !important;
	background-color: rgb(228,115,117);
}

.nav .nav-link:hover {
	color: rgb(228,115,117) !important;
}

.nav .nav-link.active:hover {
	color: white;
	opacity: 0.8;
}

.nav .nav-link {
    color: black !important;
	border-radius: 0.25em;
	display: inline-block;
	padding: 0.5em 1em;
	list-style: none;
	text-decoration: none;
	font-size: 1.1em;
}



/* Footer Styling */
/*----------------------------------------------------------------------------------*/

.footer {
	background-color: rgb(242, 242, 242);
    font-size: 1em;
    text-align: center;
    width: 100%;
}

.footer-container {
	display: flex;
	width: 80%;
	margin: 0 10%;
	padding: 2% 0;
}

.footer-item ul li {
	text-decoration: none;
	list-style-type: none;
	padding: 3px;
	margin: 3px;
}

.footer-item ul li a {
	text-decoration: none;
	list-style-type: none;
}

.footer-item ul li a:hover {
	color: rgb(201, 83, 85);
}

.footer-item {
	flex-grow: 1;
	height: auto;
}

.footer-item + .footer-item {
	margin-left: 2%;
}

.about-wrapper, .contact-wrapper {
	width: 80%;
	margin: 0 10%;
}




/* Home Page */
/*----------------------------------------------------------------------------------*/







/* Map Page */
/*----------------------------------------------------------------------------------*/
#map-container { 
    height: 800px;
    width: 800px; 
    text-align: center;
    flex-grow: 1;
    position: relative;
}

#map, #loading { 
    position: absolute;
    height: 100%;
    width: 100%; 
    text-align: center;
    flex-grow: 1;
    top: 0;
    left: 0;

}

#loading {
    background: white url(../images/loading.gif) no-repeat center center;
    z-index: 10;
    transition: opacity 1s ease-out;
}

.hidden {
    opacity: 0;
}

#big-box {
    display: flex;
    background-color: #eee;
    margin: 2% !important;
}

#map-filter-section {
    width: 30%;
    height: 100%;
	position: relative;
	left: 0;
	margin: 0;
    padding: 0;
}

#map-filter-section button {
	font-family:  "Playfair Display", Garamond, Cambria, serif;
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
	font-weight: 500;
}

.mapboxgl-popup {
    max-width: 400px;
    font-family:  "Playfair Display", Garamond, Cambria, serif;
    font-size: 1.5em;
}

.map-accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.map-accordion-active, .map-accordion:hover {
 	background-color: #e47375; 
}

.panel {
	padding: 0 10px;
	background-color: #eee;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease-out;
}

.map-accordion:after {
    content: "\2B9F"; /* Unicode character for black downward arrow head */
	float: right;
	margin-right: 10px;
	font-weight: bold;
	font-family: 'Open Sans';
	text-align: right;
    font-style: normal;
    transition: transform 0.3s ease-out;
}

.active:after {
    transform: rotate(-90deg);
}

.panel select {
	background-color: red;
}

#price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#price-selection {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

#price-display {
    width: 100%;
}

.price-selector {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: normal !important;
    border-radius: 30px;
    background-color: #b0b0b0;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in;
    outline: none !important;
}

#price-info {
    font-size: 11px;
    color: rgb(138, 138, 138);
}

.price-selector + .price-selector {
    margin-left: 2%;
  }

.price-selector:hover {
    background-color: #e29596;
}

.price-selector.active {
    background-color: #e47375;
}

/* Month Range Slider */
/*----------------------------------------------------------------------------------*/

#range-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.month-btn {
    flex-grow: 1;
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
}

.month-btn:hover .fa-tree {
    font-size: 30px;
}

.fa-tree {
    transition: 0.2s ease-out;
    font-size: 17px;
}

.summer .fa-tree {
    color: #ff8566a8;
}

.autumn .fa-tree {
    color: #ffc080a8;
}

.winter .fa-tree {
    color: #6666ffa2;
}

.spring .fa-tree {
    color: #009933a2;
}

.summer:hover .fa-tree {
    color: #ff8566;
}

.autumn:hover .fa-tree {
    color: #ffbf80;
}

.winter:hover .fa-tree {
    color: #6666ff;
}

.spring:hover .fa-tree {
    color: #009933;
}

/* Planning Page */
/*----------------------------------------------------------------------------------*/
#planning-accordion {
	width: 100%;
}

#planning-accordion ul {
	display: flex;
	min-height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

#planning-accordion li {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 20px;
	background: #E2E2E2;
	border: 1px solid #cecece;
	cursor: pointer;
	transition: all .5s ease;
}

#planning-accordion li:hover {
	background: #E2E2E2;
}

#planning-accordion li.active {
	flex: 5;
	background: #FFFFFF;
	cursor: default;
}

#planning-accordion li.active h3 {
	transform: rotate(-90deg);
	transition: all .3s .1s ease-out;
}

#planning-accordion li.active .section-content {
	flex: 4;
	opacity: 1;
	transform: scaleX(1);
}

#planning-accordion li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#planning-accordion li .section-title h3 {
	margin: 0;
	white-space: nowrap;
}

#planning-accordion li .section-content {
	flex: 1;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: all .25s .1s ease-out;
}

#checklist {
	position: relative;
	display: grid;
	grid-template-columns: 30px auto;
	align-items: center;
}



.empty-state {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}
  
.empty-state__title, .empty-state__description {
	margin-bottom: 5px;
}

.todo-list:empty {
	display: none;
}

.todo-list:empty + .empty-state {
	display: flex;
}

#planning-accordion .pseudo-checklist {
	max-width: 300px;
}

#registrar button{
	font-size: 0.9em;
	border: none;
	padding:0.8em;
	border-radius: 5px;
	background-color: rgb(201, 83, 85);
	color: #ffffff;
	cursor: pointer;
}

#registrar input{
	background-color:   rgb(226, 226, 226);
	min-width: 60%;
	margin-left: 10%;
	width: fit-content;
	border: none;
	padding: 0.8em;
	font-size: 0.9em;
	border-radius: 5px;
}

.guestlist label{
	padding-left: 20%;
	margin: 5%;
}

#guestnames li{
	border-radius: 20px;
	margin-left:5px;
}

#guestnames span{
	font-family: "Playfair Display", Garamond, Cambria, serif;
	font-style: italic;
	font-size:1.3em;
}

#guestnames label{
	margin: 8px;
	font-style: italic;
}

#guestnames input{
	margin-left:3px;
}

#guestnames li button{
	text-transform: capitalize;
	margin: 3px;
	border-radius: 5px;
	font-style: italic;
	font-family: "Playfair Display", Garamond, Cambria, serif;
	font-size:0.8em;
	color: #ccc;
	background-color: rgb(226,226,226);
}

.guest-wrapper {
	width: 90%;
	height: 100%;
	margin: 20% 0 0 0;
	padding: 0;
}

#invitedList {
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}




/* About Us Page */
/*----------------------------------------------------------------------------------*/
.about-text {
	padding-top: 5%;
}

.about-wrapper {
	display: flex;
}

.about-item {
	flex-grow: 1;
}

.about-item + .about-item {
	margin-left: 10%;
}

.about-item:nth-child(1) {
	margin: 0 10% 5% 0 ;
	padding: 0;
	width: 40%;
}

.about-item:nth-child(2) {
	margin: 0;
	padding: 0;
	width: 30%;
}

.about-item .about-wrapper {
	width: 40%;
}






/* Contact Page */
/*----------------------------------------------------------------------------------*/

#contact-area {
	display: flex;
	margin: 3% 0 10% 0;
}

.contact-item {
	flex-grow: 1;
}

.contact-item + .contact-item {
	margin-left: 10%;
}

.contact-form {
	align-content: center;
}

.contact-form h4 {
	padding: 0 0 20px 0;
	font-size: 1.7em;
	text-align: center;
}

.contact-form input[type=text], .contact-form select, .contact-form textarea, .contact-form input[type=number] {
  width: 100%;
  padding: 10px 5px ;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #eaeaea;
  margin: 5px 0 15px 0 ;
}

.contact-btn {
	background:rgb(201, 83, 85);
	color:#ffffff;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
	border-style: none;
}

.contact-btn:hover {
	background: rgb(201, 83, 85);
}

.contact-form #phone {
	-moz-appearance: textfield;
}

.contact-form #phone:webkit-inner-spin-button {
	display: none;
}

.contact-form #phone::-webkit-outer-spin-button,
.contact-form #phone::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
